/* 
COLORS
BODY : GRAY 8
INTRO, BG: GRAY 1
INTRO, TEXT: GRAY 7 
SECTION HEADINGS: GRAY 9
HEADER, FOOTER AND BUTTON: #
MOBILE NAVIGATION BACKGROUND: #d1d1d7
MOBILE NAVIGATION COLOR: GRAY 9
*/

/* GENERAL RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

section {
  padding: 2rem 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.section-heading {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  margin-bottom: 2rem;

  color: #212529;
}

/* HEADER SECTION */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1a35;

  color: white;
  padding: 0.5rem 1rem;

  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 2rem;
}

h1 {
  font-weight: 500;
}

.glassmorphic-nav {
  background: rgba(27, 26, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* MOBILE NAVIGATION */

.nav-toggle {
  /* display: none; */

  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* MAIN SECTION */

.intro {
  margin-top: 3.5rem !important;
  background-color: #f1f3f5;

  padding: 3rem 1rem;
}

.intro-text {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  color: #495057;
  font-weight: 300;
}

/* PROJECTS SECTION */

.projects {
  scroll-margin-top: 2.5rem;
}

.project-tile-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-items: center; */
  row-gap: 2rem;
  column-gap: 2rem;
}

.project-tile {
  text-align: center;
}

.project-image {
  width: 45vw;
  border-radius: 3px;
}

.project-desc {
  display: flex;
  justify-content: space-between;
  max-width: 44vw;
  margin: 0 auto;
}

#project-title {
  font-weight: bold;
}
/* SKILLS SECTION */

.skills {
  max-width: 50rem;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  scroll-margin-top: 2.5rem;
}

.skill-type-cont {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  margin-bottom: 2rem;
}

.skills-list {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  list-style: none;
  gap: 1rem;
}

.skill-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  background-color: white;
  padding: 0.5rem 1rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.skills-images {
  width: 100px;
}

.skill-type {
  font-weight: 500;
}

/* CONTACT SECTION */

.contact {
  max-width: 50rem;
  margin: auto;

  padding: 0rem 1rem 2rem 1rem;
}

.form-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-item-cont {
  display: flex;
  flex-direction: column;
}

.form-entry {
  border-radius: 3px;
  padding: 2px 4px;
  border: solid 1px lightgray;
}

.message {
  padding-bottom: 7rem;
}

.send {
  background-color: #1b1a35;
  color: white;
  padding: 10px 0px;

  border-radius: 3px;
}

/* FOOTER SECTION */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  background-color: #1b1a35;
  padding: 1.5rem 0rem;
}

.social-links-cont {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
