/* HEADER SECTION */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 0 0.5rem;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 2rem;
}

/* MAIN SECTION */

.intro {
  background-color: lightgray;
  padding: 2rem;
  text-align: center;
}

/* PROJECTS SECTION */

.projects {
  background-color: lightsteelblue;
}

.section-heading {
  text-transform: uppercase;
  text-align: center;
}

.project-image {
  width: 50vw;
}

/* SKILLS SECTION */

.skills {
  background-color: lightsalmon;
}

.skills-list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.skill-cont {
  background-color: white;
  padding: 1rem;
}

.skills-images {
  width: 100px;
}

/* CONTACT SECTION */

.contact {
  background-color: lightpink;
}

/* FOOTER SECTION */

.footer {
  background-color: lightseagreen;
}
